* {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(25, 0, 255), rgb(103, 106, 154));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: clamp(1.8rem, 3vw, 2.5rem);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 365px;
  padding: 1rem;
  font-size: clamp(1rem, 2.2vw, 0.9rem);
}

@media (width>40rem) {
  .container {
    max-width: 465px;
    font-size: clamp(1.2rem, 2.5vw, 1.1rem);
  }
}
@media (width>60rem) {
  .container {
    max-width: 565px;
  }
}

.box {
  padding: 2rem;
  margin: 20px auto;
  background: lightgrey;
  width: 100%;
  color: black;
  border-radius: 12px;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid ghostwhite;
  margin-bottom: 20px;
}

input:focus{
    outline: none;
    border-color: blueviolet;
      box-shadow: 0 0 0 2px rgba(138, 43, 226, 0.2);
}
#terms-label {
  display: flex;
  align-items: center;
  gap: 10px;

}
#terms {
    cursor: pointer;
  margin-top: 1.5rem;
  width: auto;
}

.column {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

button {
  padding: 0.5rem;
  border-radius: 12px;
  border: none;
  background-color: blueviolet;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

button:hover {
  background-color: rgb(54, 5, 99);
  transform: scale(1.05);
}

a {
  color: rgb(67, 49, 135);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: #310357;
}

.error{
    color: red;
    font-size: 1rem;
    margin-top: -10px;
}
