* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
  padding: 40px;
}

@media (width>=60em) {
  .container{
    max-width: 1200px;
  }
}

h1 {
  color: #667eea;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

#inputTask {
  flex: 1;
  padding: 15px 20px;
  border: 2px solid #e0e3ff;
  border-radius: 12px;
  outline: none;
}

#inputTask:focus {
  border-color: #7051b7;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
}

#addTaskBtn {
  padding: 15px 30px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#addTaskBtn:hover{
    transform: scale(1.05);
}


.filter {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid #667eea;
  background: white;
  color: #667eea;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.filter-btn:hover{
    transform: scale(1.05);
    background: linear-gradient(135deg,#667eea 0%,#764ba2);
    color: white;
}

.filter-btn.active {
  background: #667eea;
  color: white;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 12px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  border-radius: 12px;
}

.stat-number {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.stat-label {
  font-size: 12px;
  color: #fff;
}

#taskList {
  list-style: none;
}

.task-item {
  background:rgb(212, 212, 212);
  padding: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}
.task-item:hover{
  transform: scale(1.02);
}

.task-item.completed .task-text {
  text-decoration: line-through;
  color: #999;
}

.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #667eea;
  cursor: pointer;
}

.checkbox.checked {
  background: #667eea;
}

.task-text {
  flex: 1;
}

.delete-btn {
  background: #dc4343;
  color: rgb(241, 236, 236);
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.delete-btn:active{
  transform: scale(1.05);
}

.clear-completed {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #b60202;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.clear-completed:hover{
  transform: scale(1.05);
    background: #d41414;
}