body {
  background-color: rgb(17, 164, 164);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

button {
  display: block;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  margin: 20px auto;
  cursor: pointer;
  background-color: white;
  transition:
    transform 0.3s,
    background-color 0.3s;
}

button:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
}

button.active {
  background-color: yellow;
  color: red;
}

p {
  width: 100%;
  background-color: yellowgreen;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.6;

  text-align: justify;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  max-width: 600px;
  margin: 20px auto;
}

#textArea {
  display: block;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  font-family: inherit;
}
